extends layout

block content
    h1= title
    if (username != '')
        p #{username}
        form(action='/logout' method='POST')
            input(type='submit' value='выйти')

    #container.col
        if (username == '')
            a(href='/login/') Войти
            br
            a(href='/registrate/') Зарегистрироваться
        h3 Список всех документов
        ul
            each val in documents
                li
                a(href='/document/' + val.number)= val.name

